
<div class="row">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="#">TonTube</a>
            <ul class="nav">
                @*MENU*@
                <li class="active"><a href="#">Home</a></li>
                <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                <li>@Html.ActionLink("À propos de", "About", "Home")</li>
            </ul>
        </div>
    </div>
</div>


